.post img{
width:100%;
max-height: 416px;
object-fit: cover;
margin-top: 1.5rem;
}


@media screen and (max-width: 1399px) {.post img {max-height: 356px;}}

@media screen and (max-width: 1199px) {.post img {
        max-height: 296px;
    }}

@media screen and (max-width: 991px) {.post img {
        max-height: 305px;
    }

    .painel-posts{
        width: 100%;
        max-width: 100%;
    }



}

@media screen and (max-width: 767px) {.post img {
        max-height: 156px;
    }}

@media screen and (max-width: 575px) {.post img {
        max-height: 167px;
        margin-top: 1px;
    }}


@media screen and (max-width: 575px) {
    .post {
        margin-right:2px;
        margin-left:2px;
    }
}