.post img{
width:100%;
max-height: 416px;
object-fit: cover;
padding-top: 1.5rem;
}


@media screen and (max-width: 1399px) {.post img {max-height: 356px;}}

@media screen and (max-width: 1199px) {.post img {
        max-height: 296px;
    }}

@media screen and (max-width: 991px) {.post img {
        max-height: 216px;
    }}

@media screen and (max-width: 767px) {.post img {
        max-height: 156px;
    }}

@media screen and (max-width: 575px) {.post img {
        max-height: 167px;
        padding-top: 1px;
    }}


@media screen and (max-width: 575px) {
    .post {
        padding-right:1px;
        padding-left:1px;
    }
}